<a href="https://colab.research.google.com/github/owen-simon/IS-6482-data-mining/blob/main/Week%203/A2_Simon_Owen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1 â€” Data Exploration

**Created:** 2026-02-12

**Author:** Owen Simon

---

## Task 1

### Task 1a

In [9]:
# Load Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree

# Make results reproducible
RANDOM_STATE = 42

### Task 1b

In [10]:
# Read file
CD = "https://raw.githubusercontent.com/owen-simon/IS-6482-data-mining/main/Week%203/CD_additional_balanced.csv"
df = pd.read_csv(CD)

### Task 1c

In [11]:
# Overall data structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9280 entries, 0 to 9279
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             9280 non-null   int64
 1   job             9280 non-null   object
 2   marital         9280 non-null   object
 3   education       9280 non-null   object
 4   default         9280 non-null   object
 5   housing         9280 non-null   object
 6   loan            9280 non-null   object
 7   contact         9280 non-null   object
 8   month           9280 non-null   object
 9   day_of_week     9280 non-null   object
 10  duration        9280 non-null   int64
 11  campaign        9280 non-null   int64
 12  pdays           9280 non-null   int64
 13  previous        9280 non-null   int64
 14  poutcome        9280 non-null   object
 15  emp.var.rate    9280 non-null   float64
 16  cons.price.idx  9280 non-null   float64
 17  cons.conf.idx   9280 non-null   float64
 18  euribor3m       9280 non-null   float64
 19  nr.employed     9280 non-null   float64
 20  y               9280 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.5+ MB

In [12]:
# Report row and column count
print('The dataset has', df.shape[0], 'rows and', df.shape[1], 'columns.')

The dataset has 9280 rows and 21 columns.

### Task 1d

In [13]:
# transform from object to category
object_cols = df.select_dtypes(include=["object"]).columns.tolist()
df[object_cols] = df[object_cols].astype("category")

#  confirm changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9280 entries, 0 to 9279
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             9280 non-null   int64
 1   job             9280 non-null   category
 2   marital         9280 non-null   category
 3   education       9280 non-null   category
 4   default         9280 non-null   category
 5   housing         9280 non-null   category
 6   loan            9280 non-null   category
 7   contact         9280 non-null   category
 8   month           9280 non-null   category
 9   day_of_week     9280 non-null   category
 10  duration        9280 non-null   int64
 11  campaign        9280 non-null   int64
 12  pdays           9280 non-null   int64
 13  previous        9280 non-null   int64
 14  poutcome        9280 non-null   category
 15  emp.var.rate    9280 non-null   float64
 16  cons.price.idx  9280 non-null   float64
 17  cons.conf.idx   9280 non-null   float64
 18  euribor3m       9280 non-null   float64
 19  nr.employed     9280 non-null   float64
 20  y               9280 non-null   category
dtypes: category(11), float64(5), int64(5)
memory usage: 827.1 KB

## Task 2

In [14]:
target_summary = (
    df['y']
    .value_counts()
    .to_frame(name='Count')
)

target_summary['Proportion'] = target_summary['Count'] / target_summary['Count'].sum()

target_summary

     Count  Proportion
y
no    4640         0.5
yes   4640         0.5

The target variable `y` is evenly split, with half of the clients subscribing to a CD and half not.